/* style.css */

/* Main content */
canvas {
    border-style: solid;
    border-color: black;
    border-width: thick;

    margin: auto;
    width: 50%;
}

html, body {
    height: 100%;
}

html{
    font-family: "Open Sans", serif;
}

main{
    margin: auto;
    width: fit-content;
    padding: 10px;
}

p a {
    color: orangered;
    text-decoration: underline;
}

/*Nav Bar*/
.logo{
    float:left
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    border-bottom-style: solid;
    border-bottom-color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    border-bottom-color: black;
}