/* style.css */

/* Main content */
canvas {
    border-style: solid;
    border-color: black;
    border-width: thick;

    margin: auto;
    width: 50%;
}

html, body {
    height: 100%;
}

html{
    font-family: "Open Sans", serif;
}

main{
    margin: auto;
    width: fit-content;
    padding: 10px;
}

p a {
    color: orangered;
    text-decoration: underline;
}

/*Nav Bar*/
.logo{
    float:left
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

    border-bottom-style: solid;
    border-bottom-color: white;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    border-bottom-color: black;
}

/* Projects Page */
.column {
    float: left;
    width: 33.33%;
}

.list {
position: relative;
height: auto;
margin: 0 12%;
background-color: transparent;
display: flex;
}

.list-wrap {
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 0;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.list-inner {
    position: relative;
    height: 100%;
    width: 31%;
    list-style: none;
    display: inline-block;
    border-style: solid;
    border-width: 0;
    border-color: transparent;
    margin: 0 0 150px;
    padding-bottom: 18%;
    padding-right: 5%;
}

.list-image{
    display: block;
    margin-left: auto;
    margin-right: auto;

    width: 200px;
    height: 200px;
}

.project-link{
    text-decoration: none;
    color: black;

    margin-left: auto;
    margin-right: auto;
}